[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "cancerscreening"]
	path = cancerscreening
	url = https://github.com/damurka/cancerscreening
[submodule "khisr"]
	path = khisr
	url = https://github.com/damurka/khisr
